<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Ooothla!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="indexstyles.css" />
</head>
<body>
<form id="container">
    <form>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <br/>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <br/>
        <div>
            <button type="submit"
                    th:attr="hx-post= ${uiServiceURL} + '/login'"
            >login</button>
        </div>
    </form>
</form>
</body>
</html>